body{
  font-family: 'Oswald',sans-serif;
}


h1{
font-family:'Oswald', sans-serif;
}

.yo{
 font-weight: lighter;
 text-decoration: underline;
}

h2{
  font-family: 'Oswald', sans-serif;
  text-align:center;
  font-weight: bold;
  text-decoration: underline;
}

.p1{
  font-family: 'Open-Sans', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  text-align: center;
  font-size: xx-large;
}

h5{
  font-family: 'Oswald', sans-serif;

}

.navbar-brand h4{
  font-family:'Oswald', sans-serif;
  font-size: xx-large;
  font-weight: bold;

}

.navbar-nav li{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:white;
}

header{
  background-image: url('../img/fondo1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

}

.display-3{
  text-align: center;
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}


.carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.carousel-indicators{
  top:300px;
}

.footer{
  padding-bottom:
}
.footer i{
  font-size:60px;
  margin-left: 40px;
}
.footer a{
  color:white;
}

html {
  scroll-behavior: smooth;
}

.btn{
  margin-left: 10px;
  color: black;
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.btn-secondary{
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;

}

.nav-link{
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

.carta{
  color: white;
}

.icon i{
  font-size:200px;
  margin-left: 170px;
}

.icon i{
  color:black;
}
